.about {
  @extend %page;

  background: $color-cadet-blue;
  color: $color-bright-grey;
  opacity: 0;
}
.about__wrapper {
}

.about__title {
  @extend %title-100;
  max-width: 124.4rem;

  margin: 0 auto;
  text-align: center;

  @include media('<phone') {
    max-width: 67.7rem;
  }
}
