.about__gallery {
    
}
.about__gallery__wrapper {
    
}
.about__gallery__media {
    
}
.about__gallery__media__image {
    
}
.about__gallery {
    
}
.about__gallery__media {
    
}
.about__gallery__media__image {
    
}