.about__highlight {
    
}
.about__highlight__wrapper {
    
}
.about__highlight__label {
    
}
.about__highlight__title {
    
}
.about__highlight__media {
    
}
.about__highlight__media__image {
    
}