
.detail {
    
}
.detail__wrapper {
    
}

.detail__media {
    
}

.detail__media__image {
    
}

.detail__information {
    
}

.detail__information__collection {
    
}


.detail__information__title {
    
}

.detail__information__content {
    
}
.detail__information__highlights {
    
}

.detail__information__highlight {
    
}

.detail__information__highlight__icon {
    
}



.detail__information__highlight__text {
    
}

.detail__information__list {
    
}

.detail__information__item {
    
}

.detail__information__item__title {
    
}

.detail__information__item__description {
    
}


.detail__information__link {
    
}
