%title-20 {
  font-family: $font-george-x;
  font-size: 2rem;

  @include media('<phone') {
    font-size: 4.8rem;
  }
}

%title-30 {
  font-family: $font-george-x;
  font-size: 3rem;

  @include media('<phone') {
    font-size: 5.2rem;
  }
}

%title-53 {
  font-family: $font-george-x;
  font-size: 5.3rem;
  line-height: 1;
}

%title-60 {
  font-family: $font-george-x;
  font-size: 6rem;
}

%title-100 {
  font-family: $font-george-x;
  line-height: 1;
  font-size: 10rem;

  @include media('<phone') {
    font-size: 12rem;
  }
}

%title-200 {
  font-family: $font-george-x;
  font-size: 20rem;
}

%title-120 {
  font-family: $font-george-x;
  font-size: 12rem;
  line-height: 0.82;
}
