%title-20 {
  font-family: $font-george-x;
  font-size: 2rem;
}

%title-53 {
  font-family: $font-george-x;
  font-size: 5.3rem;
}

%title-60 {
  font-family: $font-george-x;
  font-size: 6rem;
}

%title-100 {
  font-family: $font-george-x;
  font-size: 10rem;
}

%title-200 {
  font-family: $font-george-x;
  font-size: 20rem;
}

%title-120 {
  font-family: $font-george-x;
  font-size: 12rem;
}
