$color-white: #f9f1e7;

$color-contessa: #c97164;
$color-quicksand: #bc978c;
$color-cadet-blue: #b2b8c3;
$color-bright-grey: #37384c;

$font-george-x: 'George X';
$font-suisse-bp: 'Suisse BP';

$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: ('preloader', 'navigation', 'content', 'canvas');
