
.collections {
    
}
.collections__wrapper {
    
}
.collections__titles {
    
}
.collections__titles__label {
    
}
.collections__titles__title {
    
}
.collections__gallery {
    
}
.collections__gallery__wrapper {
    
}

.collections__gallery__link {
    
}

.collections__gallery__media {
    
}

.collections__gallery__media__image {
    
}

.collections__content {
    
}

.collections__article {
    
}

.collections__article__title {
    
}

.collections__article__description {
    
}