
.home {
    
}
.home__wrapper {
    
}
.home__titles {
    
}
.home__titles__label {
    
}
.home__titles__title {
    
}
.home__gallery {
    
}
.home__gallery__media {
    
}
.home__gallery__media__image {
    
}
.home__link {
    
}