.home {
  @extend %center;
  @extend %page;

  // background: $color-contessa;
  // color: $color-white;

  overflow: hidden;
  text-align: center;

  &::before,
  &::after {
    content: '';
    height: 24rem;
    width: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
  }

  &::before {
    background: rgb(201, 113, 100);
    background: -moz-linear-gradient(
      0deg,
      rgba(201, 113, 100, 0) 0%,
      rgba(201, 113, 100, 1) 94%,
      rgba(201, 113, 100, 1) 100%
    );
    background: -webkit-linear-gradient(
      0deg,
      rgba(201, 113, 100, 0) 0%,
      rgba(201, 113, 100, 1) 94%,
      rgba(201, 113, 100, 1) 100%
    );
    background: linear-gradient(
      0deg,
      rgba(201, 113, 100, 0) 0%,
      rgba(201, 113, 100, 1) 94%,
      rgba(201, 113, 100, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c97164",endColorstr="#c97164",GradientType=1);
    top: 0;
  }

  &::after {
    background: rgb(201, 113, 100);
    background: -moz-linear-gradient(
      180deg,
      rgba(201, 113, 100, 0) 0%,
      rgba(201, 113, 100, 1) 94%,
      rgba(201, 113, 100, 1) 100%
    );
    background: -webkit-linear-gradient(
      180deg,
      rgba(201, 113, 100, 0) 0%,
      rgba(201, 113, 100, 1) 94%,
      rgba(201, 113, 100, 1) 100%
    );
    background: linear-gradient(
      180deg,
      rgba(201, 113, 100, 0) 0%,
      rgba(201, 113, 100, 1) 94%,
      rgba(201, 113, 100, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c97164",endColorstr="#c97164",GradientType=1);
    bottom: 0;
  }
}
// .home__wrapper {
// }

.home__titles {
  @extend %vertical-titles;
}

.home__titles__label {
  @extend %vertical-titles__label;
}

.home__titles__title {
  @extend %vertical-titles__title;
}

.home__gallery {
  @extend %cover;
  visibility: hidden;
  width: 241.8rem;
  height: 172.5rem;
}

.home__gallery__media {
  position: absolute;

  &:nth-child(1) {
    width: 27.8rem;
    height: 41.8rem;
    top: 16.6rem;
    left: 9.4rem;
  }
  &:nth-child(2) {
    width: 27.8rem;
    height: 41.8rem;
    top: 19.4rem;
    left: 54rem;
  }
  &:nth-child(3) {
    width: 27.8rem;
    height: 41.8rem;
    top: 10.9rem;
    left: 106.3rem;
  }
  &:nth-child(4) {
    width: 40.6rem;
    height: 60.8rem;
    top: 0;
    left: 154.1rem;
  }
  &:nth-child(5) {
    width: 27.8rem;
    height: 41.8rem;
    top: 10.6rem;
    left: 207rem;
  }
  &:nth-child(6) {
    width: 37.5rem;
    height: 52.3rem;
    top: 69.3rem;
    left: 0;
  }
  &:nth-child(7) {
    width: 40.6rem;
    height: 60.8rem;
    top: 66.4rem;
    left: 46.7rem;
  }
  &:nth-child(8) {
    width: 39.7rem;
    height: 58.2rem;
    top: 64.9rem;
    left: 101.4rem;
  }
  &:nth-child(9) {
    width: 27.8rem;
    height: 41.8rem;
    top: 64rem;
    left: 160rem;
  }
  &:nth-child(10) {
    width: 39.7rem;
    height: 58.2rem;
    top: 64.9rem;
    left: 202.1rem;
  }
  &:nth-child(11) {
    width: 27.8rem;
    height: 41.8rem;
    top: 129.1rem;
    left: 13rem;
  }
  &:nth-child(12) {
    width: 27.8rem;
    height: 41.8rem;
    top: 130.6rem;
    left: 54rem;
  }
  &:nth-child(13) {
    width: 27.8rem;
    height: 41.8rem;
    top: 128.8rem;
    left: 105.7rem;
  }
  &:nth-child(14) {
    width: 27.8rem;
    height: 41.8rem;
    top: 111.1rem;
    left: 163.9rem;
  }
  &:nth-child(15) {
    width: 27.8rem;
    height: 41.8rem;
    top: 128.8rem;
    left: 206.3rem;
  }
}
.home__gallery__media__image {
  @extend %cover;

  opacity: 1;
}
.home__link {
  @extend %description-14;

  letter-spacing: 0.05;
  width: 28.84em;
  height: 6rem;
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  text-transform: uppercase;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  @include media('<phone') {
    bottom: 1rem;
    width: 55rem;
    height: 13.7rem;
  }
}

.home__link__icon {
  @extend %cover;
}
