
.navigation {
    
}
.navigation__wrapper {
    
}
.navigation__link {
    
}
.navigation__link__icon {
    
}
.navigation__list {
    
}
.navigation__list__item {

}
.navigation__list__link {
    
}