// ------------------------------------ // ------------------------------------------
// -------------------------------- U T I L S ---------------------------------------
// ------------------------------------ // ------------------------------------------

@import './utils/variables';
@import './utils/functions';
@import './utils/mixins';
@import './utils/vendors';
@import './utils/responsive';

// ------------------------------------ // ------------------------------------------
// ------------------------------- S H A R E D --------------------------------------
// ------------------------------------ // ------------------------------------------

@import './shared/descriptions';
@import './shared/titles';

// ------------------------------------ // ------------------------------------------
// --------------------------------- B A S E ----------------------------------------
// ------------------------------------ // ------------------------------------------

@import './base/fonts';
@import './base/reset';
@import './base/base';

// ------------------------------------ // ------------------------------------------
// -------------------------- P A G E S  D I R E C T O R Y --------------------------
// ------------------------------------ // ------------------------------------------

// ------------------------------------
// Home
// ------------------------------------

@import './pages/home/home';

// ------------------------------------ // ------------------------------------

// ------------------------------------
// About
// ------------------------------------

@import './pages/about/about';
@import './pages/about/content';
@import './pages/about/gallery';
@import './pages/about/highlight';

// ------------------------------------ // ------------------------------------

// ------------------------------------
// Collections
// ------------------------------------

@import './pages/collections/collections';

// ------------------------------------ // ------------------------------------

// ------------------------------------
// Details
// ------------------------------------

@import './pages/details/details';

// ------------------------------------ // ------------------------------------
